<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dine with DineX</title>
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

  <section id="content"></section>

  <!-- Templates -->
  <script type="text/template" id="tpl-index">
    <a href="/auth/facebook" rel="nojs">Sign in with facebook</a>
  </script>

  <script type="text/template" id="tpl-choose">
    <a href="/sell">Seller</a>
    <a href="/buy">Buyer</a>
  </script>

  <script type="text/template" id="tpl-sell">
    <form action="http://whothehellknows:8000/check-post" method="post">
      Where are you? Foursquare stuff 
      <input type="text" name="location"><br>
      Selling price?
      <input type="number" name="price"><br>
      Type?
      <select name="Choose Type">
        <option value="share">Share</option>
        <option value="not">Not</option>
      </select>
      <br>
      Optional Message: 
      <input type="text" name="message"><br>
      <input type="submit">
    </form>
  </script>

  <script type="text/template" id="tpl-buy">
    <div id="map-canvas"></div>
  </script>

  <script type="text/template" id="tpl-buyListing">
    <h1>Chat with <%= seller_name %></h1>
    <h3>Current Amount Owed: <%= amt %></h3>
    <button type ="button" id="cash">CASH</button>
    <button type ="button" id="venmo">VENMO</button>
    <br> previous messages
    <form action="what" method="post">
      <input type="text" name="message">
      <input type="submit" name="send">
    </form>
  </script>

  <!-- Javascript -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW3pwvWQ4GAD2kVSnQIAZSzg8oONQtHJs&sensor=true"></script>
  <script src="/js/lib/jquery-1.10.2.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/views/IndexView.js"></script>
  <script src="/js/views/ChooseView.js"></script>
  <script src="/js/views/BuyListingView.js"></script>
  <script src="/js/views/BuyView.js"></script>
  <script src="/js/views/SellView.js"></script>
  <script src="/js/Router.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>