<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dine with DineX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

  <section id="content"></section>

  <!-- Templates -->
  <script type="text/template" id="tpl-index">
    <div id="page-index">
      <img src="/img/dwd-logo.png" width="300" />
      <a href="/auth/facebook" rel="nojs" class="full-btn signin-btn">Sign in with facebook</a>
    </div>
  </script>

  <script type="text/template" id="tpl-choose">
    <div id="page-choose">
      <h1>I want to...</h1>
      <a class="full-btn choice buy"href="/buy">look for a meallionaire <br /><small>They have blocks or DineX to spare</small></a>
      <a class="full-btn choice sell" href="/sell">share my funds <br /><small>I am a meallionaire.</small></a>
    </div>
  </script>

  <script type="text/template" id="tpl-sell">
    <form action="http://whothehellknows:8000/check-post" method="post">
      <div id="location"> Where are you?    
      </div>

      <div> 
        <a href="" class="block"> Block </a>
        <a href="" class="dinex"> DineX </a>
      </div>

      <div id="">
        <input type="number"/> 
      </div>

      <div id="">
        <input type="checkbox"> Company? 
      </div>

      <div id="">
        <textarea> </textarea>
      </div>
    </form>
  </script>

  <script type="text/template" id="tpl-buy">
    <div id="map-canvas"></div>
  </script>

  <script type="text/template" id="tpl-buyListing">
    <h1>Chat with <%= seller_name %></h1>
    <h3>Current Amount Owed: <%= amt %></h3>
    <button type ="button" id="cash">CASH</button>
    <button type ="button" id="venmo">VENMO</button>
    <br> previous messages
    <form action="what" method="post">
      <input type="text" name="message">
      <input type="submit" name="send">
    </form>
  </script>

  <!-- Javascript -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW3pwvWQ4GAD2kVSnQIAZSzg8oONQtHJs&sensor=true"></script>
  <script src="/js/lib/jquery-1.10.2.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/views/IndexView.js"></script>
  <script src="/js/views/ChooseView.js"></script>
  <script src="/js/views/BuyListingView.js"></script>
  <script src="/js/views/BuyView.js"></script>
  <script src="/js/views/SellView.js"></script>
  <script src="/js/Router.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>