body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #F9F9F9;
  background-color: #52BD52;
}

#content {
  width: 100%;
}


/* ===========================
    generics
============================== */
.full-btn {
  background-color: rgba(50, 50, 50, 0.1);
  width: 100%;
  color: #F9F9F9;
  text-decoration: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
}
.title {
  text-align: center;
  padding: 20px 0 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.title h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

/* ===========================
  Venue chooser
============================== */
.venue-chooser.dark {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  top: 0;
  left: 0;
}
.venue-chooser .venues {
  width: 80%;
  background: #FFF;
  height: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.venue-chooser div ul li a {
  padding: 20px;
  display: block;
  border-bottom: 1px solid #E0E0E0;
}

/* ===========================
	INDEX SCREEN
============================== */

#page-index .signin-btn {
  text-transform: lowercase;
  padding: 20px;
  height: 65px;
  top: 60%;
  bottom: 0;
}

#page-index img {
  width: 80%;
  position: absolute;
  margin: 10% auto;
  left: 0;
  right: 0;
}

/* ===========================
	CHOOSE SCREEN
============================== */
#page-choose {
  padding: 50px 0;
}
#page-choose h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 1px #658C63;
  margin-bottom: 50px;
}


#page-choose .choice {
  padding: 20px;
  height: 85px;
  bottom: 0;
}

#page-choose .buy {
  top: -10%;
}

#page-choose .sell {
  top: 50%;
}
#page-choose .choice small {
  font-size: 0.6em;
  display: block;
  margin: 0.5em;
  color: #c9c9c9;
}

/* ===========================
  SELL SCREEN
============================== */
#page-sell .input-field {
  background-color: #F0F0F0;
  color: #505050;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #B6D9B7;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 3em;
  border-radius: 0;
}

#page-sell .type-choice {
  text-align: center;
  margin: 20px 0 20px;
}
#page-sell .type-choice a {
  text-decoration: none;
  color: #F9F9F9;
  font-size: 20px;
  display: inline-block;
  margin: 0 15px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#page-sell .type-choice a.selected {
  border: 2px solid #808080;
}

#page-sell .eat-with {
  display: none;
}
#eatwith.checked {
  background-image: url(/img/check.png);
  background-repeat: no-repeat;
  background-position: 95% center;
}

#page-sell textarea.input-field {
  height: 150px;
  line-height: 2em;
}

#page-sell [type=submit].input-field {
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #F9F9F9;
}

/* ===========================
  BUY SCREEN
============================== */

#page-buy .type-choice {
  height: 80px;
  /*font-size: 30px;*/
  text-align: center;
}

#page-buy .type-choice a {
  text-decoration: none;
  color: #F9F9F9;
  font-size: 20px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 16px;
}

#page-buy .type-choice a.yes {
  float: left
}

#page-buy .type-choice a.no {
  float: right
}

#seller-info {
  height: 180px;
  top: 50%;
  left: 50%;
  margin-bottom: 40px;
  text-align: center;
}

#seller-info img{
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 12px;
}

#seller-info .name{
  font-size: 25px;
}

.section {
  background-color: #F0F0F0;
  color: #505050;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #B6D9B7;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 3em;
  border-radius: 0;
}

#message {
  height: 130px;
}
#page-sell #foursquare{
  cursor: pointer;
}

#page-sell .blockDinexSelect.selected{
  background-color: green;
}

/* ===========================
  CHAT SCREEN
============================== */
#page-chat{
  height: 600px;
}

#page-chat .chatArea{
  height: 800px;
  overflow-y: scroll
}

#page-chat .me{
  display: block;
  text-align: left;
}

#page-chat .me span{
  background-color: red;
  font-size: 20;
}

#page-chat .you {
  display: block;
  text-align: right;
}

#page-chat .you span{

position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #000000;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
}

#page-chat .you span:after{
content: "";
position: absolute;
top: 40px;
left: -29px;
border-style: solid;
border-width: 20px 29px 20px 0;
border-color: transparent #000000;
display: block;
width: 0;
z-index: 1;

}

#page-chat .input-field {
  background-color: #F0F0F0;
  color: #505050;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #B6D9B7;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 3em;
  border-radius: 0;
}
